h6{
    padding-left: 2%;
}

.inp-style{
    margin-top: 1%;
    margin-left: 2%;
    overflow: hidden;
}

.h5style{
    padding-top: 2%;
    margin-left: 1%;
}

.Button{
    padding-left: 5%;
    margin-left:1%;
}

.remove_bttn{
    margin-left: 2%;
}

.enter_value{
    margin-top: 5%;
    margin-left: 7%;
}